<%= content_for :content do  %>
<ul class="news_list">
	<% @articles.each do |article| %>
	<li>
		<span class="floleft"><%= link_to article.title, news_path(article.slug) %></span>
		<span class="date"><%= format_date article.created_at %></span>
		<div class="clear"></div>
	</li>
	<% end if @articles %>
</ul>
<div class="clear"></div>
<%= paginate @articles if @articles %>
<% end %>