<%= content_for :main do %>
<div id="miniheader">
	<div class="banner news" title="Enjoy sharing life 分享生活和爱的乐趣"></div>
</div>
<div id="content">
	<div class="title aboutus" title="关于我们"></div>
	<div class="submenu">
		<ul id="about_titles">
			<li data-about-id='1' class="click" name="" >
				公司介绍
			</li>

			<li data-about-id="2" name="">
				管理团队
			</li> 

		</ul>
	</div>
	<div class="right_box">
		<div class="mainbody" id="about_description_1">
			<h3 class="font_blue">公司介绍</h3>
			<h1>志精网络科技洞察消费者视频娱乐消费习惯变革的趋势，致力于成为家庭娱乐分享的引擎。</h1>
			<h2>
				<p><span class="font_blue">使命：</span>分享生活和爱的乐趣</p>
				<p><span class="font_blue">愿景：</span>成为家庭娱乐分享引擎</p>
				<p><span class="font_blue">宗旨：</span>嫁接起移动屏幕和大屏幕的娱乐应用桥梁；体验极富乐趣的家庭互动娱乐生活；实现多屏合一智能化高效监播体系</p>
				<p>
					<span class="font_blue">企业文化：</span>先行与恒持——行业先导与使命必达<br/>

					<span style="padding-left:70px"></span>分享与共荣——高效沟通与利益共享<br/>

					<span style="padding-left:70px"></span>激情与守信——阳光心境与信誉为先
				</p>
				<p><span class="font_blue">口号：</span>Enjoy sharing life</p>
			</h2>
		</div>
		<div class="mainbody hide" id="about_description_2">
			<ul class="members">
				<li>
					
					<img src="assets/gltd_renwu_pic2.jpg" alt="" >
					
					<span>
						<h5>徐 鹏（David Xu）<b style="font-size:14px; font-weight:normal; padding-left:10px">志精科技创始人及CEO</b></h2>
传漾科技创始人及CSO；<br/>
曾于2000年创建Babel网络多媒体技术有限公司；<br/>
曾任分众传媒旗下宽通广告总经理，深耕于富媒体营销、垂直广告网络平台、精准营销体系的革新和推广；<br/>
拥有丰富的互联网行业经验及敏锐的行业产品洞察，在业界享有盛名；<br/>
带领传漾成为了中国互联网营销行业领先的服务提供商。<br/>
					</span>
					<div class="clear"></div>
				</li>

			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
$(function(){
	$("#about_titles li").live('click', function(){
		$('.mainbody').hide();
		$(this).parent('ul').find('li').removeClass('click');
		$(this).addClass('click');
		$('#about_description_'+ $(this).attr('data-about-id')).show();
	})
})
</script>
<% end %>
