<%= content_for :main do %>
<div id="miniheader">
	<div class="banner news" title="Enjoy sharing life 分享生活和爱的乐趣"></div>
</div>
<div id="content">
	<div class="title aboutus" title="关于我们"></div>
	<div class="submenu">
		<ul>
			<li class="click">
				公司介绍
			</li>
<!-- 			<li>
				发展大事记
			</li>
			<li>
				管理团队
			</li> -->

		</ul>
	</div>
	<div class="right_box">
		<div class="mainbody">
			<h3 class="font_blue">公司介绍</h3>
			<h1>志精网络科技洞察消费者视频娱乐消费习惯变革的趋势，致力于成为家庭娱乐分享的引擎。</h1>
			<h2>
				<p><span class="font_blue">使命：</span>分享生活和爱的乐趣</p>
				<p><span class="font_blue">愿景：</span>成为家庭娱乐分享引擎</p>
				<p><span class="font_blue">宗旨：</span>嫁接起移动屏幕和大屏幕的娱乐应用桥梁；体验极富乐趣的家庭互动娱乐生活；</p>
				<p>
					<span class="font_blue">企业文化：</span>先行与恒持——行业先导与使命必达实现多屏合一智能化高效监播体系<br/>

					<span style="padding-left:70px"></span>分享与共荣——高效沟通与利益共享<br/>

					<span style="padding-left:70px"></span>激情与守信——阳光心境与信誉为先
				</p>
				<p><span class="font_blue">口号：</span>Enjoy sharing life  看你想看</p>
			</h2>
		</div>
		<div class="mainbody hide">
			<h3 class="font_blue">发展大事记</h3>
		</div>
		<div class="mainbody hide">
			<h3 class="font_blue">管理团队</h3>
		</div>
	</div>
	<div class="clear"></div>
</div>
<% end %>
