<%= content_for :main do %>
<div id="miniheader">
	<div class="banner news" title="Enjoy sharing life 分享生活和爱的乐趣"></div>
</div>
<div id="content">
	<div class="title aboutus" title="关于我们"></div>
	<div class="submenu">
		<ul id="about_titles">
			<li data-about-id='1' class="click" name="" >
				公司介绍
			</li>

			<li data-about-id="2" name="">
				管理团队
			</li> 
			<li data-about-id="3" name="">
				联系我们
			</li> 
		</ul>
	</div>
	<div class="right_box">
		<div class="mainbody" id="about_description_1">
			<h3 class="font_blue">公司介绍</h3>
			<h1>志精网络科技洞察消费者视频娱乐消费习惯变革的趋势，致力于成为家庭娱乐分享的引擎。</h1>
			<h2>
				<p><span class="font_blue">使命：</span>分享生活和爱的乐趣</p>
				<p><span class="font_blue">愿景：</span>成为家庭娱乐分享引擎</p>
				<p><span class="font_blue">宗旨：</span>
					嫁接起移动屏幕和大屏幕的娱乐应用桥梁；<br/>
					<span style="padding-left:45px"></span>体验极富乐趣的家庭互动娱乐生活；<br/>
					<span style="padding-left:45px"></span>实现多屏合一智能化高效监播体系</p>
				<p>
					<span class="font_blue">企业文化：</span>先行与恒持——行业先导与使命必达<br/>

					<span style="padding-left:70px"></span>分享与共荣——高效沟通与利益共享<br/>

					<span style="padding-left:70px"></span>激情与守信——阳光心境与信誉为先
				</p>
				<p><span class="font_blue">口号：</span>Enjoy sharing life</p>
			</h2>
		</div>
		<div class="mainbody hide" id="about_description_2">
			<ul class="members">
				<li>
					
					<img src="assets/gltd_renwu_pic2.jpg" alt="" >
					
					<span>
						<h5>徐 鹏（David Xu）<b style="font-size:14px; font-weight:normal; padding-left:10px">董事长兼CEO</b></h2>
- 2009~2012年作为创始人创办传漾科技，任职CEO，现任顾问 非执行董事；<br/>
- 2006~2009年任职好耶，担任宽通广告总经理，深耕于富媒体营销、垂直广告网络平台、精准营销体系的革新和推广；<br/>
- 曾于2000年创建Babel网络多媒体技术有限公司；<br/>
- 拥有丰富的互联网行业经验及敏锐的行业产品洞察，在业界享有盛名；<br/>
- 致力于带领JOYPLUS在TV端的三屏融合互动生态系统中，成为家庭娱乐分享引擎。<br/>
					</span>
					<div class="clear"></div>
				</li>
				<li>
					
					<img src="assets/gltd_renwu_pic4.jpg" alt="" >
					
					<span>
						<h5>李永庆（Scott Li）<b style="font-size:14px; font-weight:normal; padding-left:10px">研发副总裁</b></h2>
- 2008~2012年在英国Barclays银行工作，历任数字银行渠道系统架构师，上海研发中心主管 ；<br/>
- 在Barclays期间，带领团队成功研发了Barclays新一代的数字银行平台，并完成12个国家的部署和实施。精通数据库安全，高并发系统设计和无线安全，互联网安全专家；<br/>
- 曾任职于EDS和Augmentum，以系统架构师的身份参与了多个世界级项目的交付。<br/>
					</span>
					<div class="clear"></div>
				</li>

				<li>
					
					<img src="assets/gltd_renwu_pic3.jpg" alt="" >
					
					<span>
						<h5>杨晓震（James Yang）<b style="font-size:14px; font-weight:normal; padding-left:10px">渠道副总裁</b></h2>
- 移动互联网与手机行业渠道专家，具备丰富的产品经验和业界资源，现任志精网络渠道副总裁;<br/>
- 加入志精网络之前就职于龙旗科技，全面负责第三方手机应用软件的评估引入及合作，了解各种类产品的市场推广方式和渠道;<br/>
- 曾就职于中兴通讯与晨讯科技，在晨讯科技期间，担任销售经理，经历了晨讯科技从起步到成功上市，以及手机设计行业从兴起到蓬勃发展的全过程，对移动通讯行业及国产手机渠道有深入的体验和理解。<br/>
- 期间还曾担任过北京掌上网华东区总经理，负责运营商关系及手机渠道拓展。<br/>
					</span>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	

	<div class="mainbody hide" id="about_description_3">
			<h3 class="font_blue">上海志精网络科技有限公司</h3><br/>
			<div class="text">
				<p>
					<span class="font_gray">电话：</span>021-31169318<br/>
					<span class="font_gray">邮箱：</span>marketing#joyplus.tv (备注:发邮件请把#改为@)<br/>
					<span class="font_gray">地址：</span>中国上海，杨浦区，淞沪路333号802<br/><br/>
				</p>
				<div style="width:650px;height:330px;border:#ccc solid 1px;" id="dituContent"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMarker();//向地图中添加marker
    }
    
    //创建地图函数：
    function createMap(){
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var point = new BMap.Point(121.519109,31.311572);//定义一个中心点坐标
        map.centerAndZoom(point,18);//设定地图的中心点和坐标并将地图显示在地图容器中
        window.map = map;//将map变量存储在全局
    }
    
    //地图事件设置函数：
    function setMapEvent(){
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    
    //地图控件添加函数：
    function addMapControl(){
        //向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
	map.addControl(ctrl_nav);
        //向地图中添加缩略图控件
	var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:0});
	map.addControl(ctrl_ove);
        //向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
    }
    
    //标注点数组
    var markerArr = [{title:"上海志精科技有限公司",content:"杨浦区，淞沪路333号801",point:"121.518696|31.311757",isOpen:0,icon:{w:21,h:21,l:0,t:0,x:6,lb:5}}
		 ];
    //创建marker
    function addMarker(){
        for(var i=0;i<markerArr.length;i++){
            var json = markerArr[i];
            var p0 = json.point.split("|")[0];
            var p1 = json.point.split("|")[1];
            var point = new BMap.Point(p0,p1);
			var iconImg = createIcon(json.icon);
            var marker = new BMap.Marker(point,{icon:iconImg});
			var iw = createInfoWindow(i);
			var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
			marker.setLabel(label);
            map.addOverlay(marker);
            label.setStyle({
                        borderColor:"#808080",
                        color:"#333",
                        cursor:"pointer"
            });
			
			(function(){
				var index = i;
				var _iw = createInfoWindow(i);
				var _marker = marker;
				_marker.addEventListener("click",function(){
				    this.openInfoWindow(_iw);
			    });
			    _iw.addEventListener("open",function(){
				    _marker.getLabel().hide();
			    })
			    _iw.addEventListener("close",function(){
				    _marker.getLabel().show();
			    })
				label.addEventListener("click",function(){
				    _marker.openInfoWindow(_iw);
			    })
				if(!!json.isOpen){
					label.hide();
					_marker.openInfoWindow(_iw);
				}
			})()
        }
    }
    //创建InfoWindow
    function createInfoWindow(i){
        var json = markerArr[i];
        var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
        return iw;
    }
    //创建一个Icon
    function createIcon(json){
        var icon = new BMap.Icon("http://map.baidu.com/image/us_cursor.gif", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
        return icon;
    }
    
    initMap();//创建和初始化地图
</script>
</div>
	</div>		
		</div>


	<div class="clear"></div>
</div>
<script type="text/javascript">
$(function(){
	$("#about_titles li").live('click', function(){
		$('.mainbody').hide();
		$(this).parent('ul').find('li').removeClass('click');
		$(this).addClass('click');
		$('#about_description_'+ $(this).attr('data-about-id')).show();
	})
})
</script>
<% end %>
