<div id="app">
	<div class="topbox">
		<div class="logo">
			<%= image_tag 'applogo.png' %>
		</div>
		<div class="topmenu">
			<a href="#">返回首页</a>
			<a href="#">关于我们</a>
		</div>
	</div>
	<div class="midbox">
		<div class="appbg1"></div>
		<div class="appbg2"></div>
		<div class="dlbox">
			<div class="dlbtns">
				<div><a href="#" class="iPhone"><span class="font_blue">iPhone</span><br>App Store 下载</a></div>
				<div><a href="#" class="iPhone-ipa"><span class="font_blue">iPhone</span><br>越狱手机下载</a></div>
				<div><a href="#" class="iPad"><span class="font_blue">iPad</span><br>即将推出</a></div>
				<div><a href="#" class="Android-apk"><span class="font_blue">Android</span><br>即将推出</a></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<span class="floleft"> ©2012   悦视频版权所有   沪ICP备0000000号</span>
		<span class="floright">
			<span class="follow"><a href="">关注悦视频</a></span>  
			<span class="contact"><a href="">联系我们</a></span> 
		</span>
	</div>
</div>
