<%= content_for :main do %>
<div id="header">
	<div id="example">
    <div id="slides">
      <div class="slides_container">
        <div><img src="/assets/slide_1.jpg" alt=""></div>
        <div><img src="/assets/slide_2.jpg" alt=""></div>
      </div>
    </div>
	</div>
</div>

<div id="content">
	<div class="about">
		<div class="index-title">
			<span class="font_blue floleft">关于志精</span>
			<span class="font_gray floleft">About Us</span>  
			<span class="more"><a href="/about"></a></span>
			<div class="clear"></div>
		</div>
		<h1>志精网络科技洞察消费者视频娱乐消费习惯变革的趋势，致力于成为家庭娱乐分享的引擎…</h1>
		<h2>
			<p><span class="font_blue">使命：</span>分享生活和爱的乐趣</p>
			<p><span class="font_blue">愿景：</span>成为家庭娱乐分享引擎</p>
			<p><span class="font_blue">口号：</span>Enjoy sharing life </p>

		</h2>
	</div>
	<div class="index-news">
		<div class="index-title">
			<span class="font_blue floleft">最新动态</span>
			<span class="font_gray floleft">News</span>  
			<span class="more"><a href="/news"></a></span>
			<div class="clear"></div>
		</div>
		<ul class="news_list">
			<% Article.posted.first(5).each do |article| %>
			<li><span class="floleft"><%= link_to short_text(article.title, 15), news_path(article.slug) %></span><span class="date"><%= format_time article.created_at %></span><div class="clear"></div></li>
			<% end %>
		</ul>
		
	</div>
	<div class="index-ad">
		<p>
			<a href="/product#jios"><img src="/assets/ios_ad.jpg" alt="iPad / iPhone应用下载"></a>
		</p>
		<p>
			<a href="/product#jtv"><img src="/assets/android_ad.jpg" alt="悦TV"></a>
		</p>
	</div>
	<div class="clear"></div>
</div>
<img src="/assets/loading.gif" class="hide">
<% end %>
<% content_for :head do %>
	<script type="text/javascript">
	$(function(){
		$('#slides').slides({
			preload: true,
			preloadImage: '/assets/loading.gif',
			play: 3000,
			pause: 2500,
			hoverPause: true
		});
	});
	</script>
<% end %>

