<div id="header">
	<script src="/assets/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: '/assets/loading.gif',
				play: 3000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
	<div id="example">
	    <div id="slides">
	      <div class="slides_container">
	        <div><img src="/assets/slide_1.png" alt=""></div>
	        <div><img src="/assets/slide_2.png" alt=""></div>
	      </div>
	    </div>
  	</div>
</div>

<div id="content">
	<div class="about">
		<div class="index-title">
			<span class="font_blue">关于志精</span>
			<span class="font_gray">About Us</span>  
			<span class="more"><a href=""></a></span>
		</div>
		<h1>志精网络科技洞察消费者视频娱乐消费习惯变革的趋势，致力于成为家庭娱乐分享的引擎…</h1>
		<h2>
			<p><span class="font_blue">使命：</span>分享生活和爱的乐趣</p>
			<p><span class="font_blue">愿景：</span>成为家庭娱乐分享引擎</p>
			<p><span class="font_blue">口号：</span>Enjoy sharing life  看你想看</p>
		</h2>
	</div>
	<div class="index-news">
		<div class="index-title">
			<span class="font_blue">最新动态</span>
			<span class="font_gray">News</span>  
			<span class="more"><a href=""></a></span>
		</div>
		<ul class="news_list">
			<li><a href="">庹震到腾讯公司调研</a><span>2012-10-10</span></li>
			<li><a href="">提供企业与个人即时通信及在线娱...</a><span>2012-10-10</span></li>
			<li><a href="">汉王科技完美亮相移动互联</a><span>2012-10-10</span></li>
			<li><a href="">国内最早和目前规模最大的风电技</a><span>2012-10-10</span></li>
			<li><a href="">电子产品、环保设备、矿山机</a><span>2012-10-10</span></li>
		</ul>
		
	</div>
	<div class="index-ad">
		<p>
			<a href=""><img src="/assets/ios_ad.jpg" alt="iPad / iPhone应用下载"></a>
		</p>
		<p>
			<a href=""><img src="/assets/android_ad.jpg" alt="Android 应用下载"></a>
		</p>
	</div>
	<div class="clear"></div>
</div>
