<div id="miniheader">
	<div class="banner news" title="Enjoy sharing life 分享生活和爱的乐趣"></div>
</div>
<div id="content">
	<div class="title news" title="最新动态"></div>
	<div class="submenu">
		<ul>
			<li class="click">
				公司新闻
			</li>
			<li>
				产品动态
			</li>
		</ul>
	</div>
	<div class="right_box">
		<h1 class="news_title">丁丁网宣布获阿cc里与花旗投资 <span>2012-10-10</span></h1>	
		<h2 class="news_show">
			<p>
				昨日，本地生活信息服务平台丁丁网正式宣布，获得阿里巴巴与花旗银行的投资，但并未透露具体金额，而业界预测达数千万美元。
丁丁网CEO徐龙江透露，“本次合作，主要是为了借力加快丁丁移动O2O平台的电子商务化。”
			</p>
			<p>
				<img src="/assets/product_3.jpg" alt="">
			</p>
			<p>阿里资本董事总经理张鸿平表示，“与丁丁网的合作，看好O2O业务在中国的发展前景外，丁丁优惠是本地生活领域通往O2O电子商务平台的最佳渠道之一, 也会同阿里巴巴多个业务部门产生协同作用。”
丁丁优惠是目前国内最大的手机优惠券应用服务商。
			</p>
		</h2>
	</div>
	<div class="clear"></div>
</div>