<%= content_for :main do %>
<div id="miniheader">
	<div class="banner products" title="产品"></div>
</div>
<div id="content">
	<div class="title products" title="产品"></div>
	<div class="submenu">
		<ul id="product_links">
			<li data-product-id='1' class="click" name="jios" >
				悦视频 App
			</li>
			<li data-product-id="2" name="jtv">
				悦视频盒子
			</li>

		</ul>
	</div>
	<div class="right_box">
		<div class="mainbody" id="product-intro-1">
			<h3 style="text-align:center">悦视频 App</h3>
			<div class="text">
				<p style="padding:20px 0">
					<span class="font_blue">悦视频</span> 是一款专为视频娱乐用户量身打造的在线播放应用。
				</p>
				<p>
					<img src="/assets/app_mobile.jpg" alt=""><br/><br/>
				</p>
				<p>
					<img src="/assets/app_iPad.jpg" alt=""><br/><br/>
				</p>
			</div>
		</div>
		<div class="mainbody hide" id="product-intro-2">
			<h3 style="text-align:center">悦视频盒子</h3>
			<div class="text">
				<p class="product a">分享生活和爱的乐趣</p>
				<p>
					“悦TV” 可以把你家的电视升级为功能强大的智能电视，就像APPLE TV一样，让电视成为家庭娱乐的分享利器，打破屏幕之间的界限，将智能手机、PAD、电脑中的图片、音乐、影视等多媒体文件，一键快速分享到电视、投影仪等任何屏幕终端，分享生活的乐趣。<br/><br/>
					<img src="/assets/product_1.jpg" alt=""><br/><br/>
				</p>
				<p class="product b">悦TV —— 悦享时刻，我就要做“悦享家”</p>
				<p>
					当你想摆脱上世纪古老的电视遥控器，绝佳互动体验，用APPLE操控我的电视时；<br/>
					当你再也不想被各种线缆捆绑，用电脑、DVD、U盘、高清播放器连接电视播放视频时；<br/>
					当你想把电脑、智能手机、PAD上的图片、音乐、视频无线分享到大屏幕电视（投影仪）上与家人共享时；<br/>
					当你感觉用智能手机或PAD观看网上视频觉得屏幕不够大，想和家人一起观看时；<br/>
					当你一个人用智能手机或PAD玩游戏，孤单无助不能呼朋唤友，玩的不够爽时；<br/>
					当你想在外地想让家人打开电视就可以观看到一张欢乐的画面、一句亲切问候，一段感人的视频时；<br/><br/>
					<img src="/assets/product_2.jpg" alt=""><br/><br/>
				</p>
				<p class="product c">轻松连接，分享生活和爱的乐趣</p>
				<p>
					拥有悦TV只需加入家庭的Wi-Fi环境，就能读取家里的笔记本、平板电脑、手机等外接设备中的内容，帮你从各种数据连接线中解脱出来。智能手机或PAD就是您的电视遥控器，是你的节目单、内容源，直接把多媒体内容呈现在电视大屏幕（投影仪）上，看你想看！<br/>
					通过手机安装的“悦视频”聚合了腾讯视频、优酷视频、乐视、PPTV等海量娱乐内容投射出来，不管你在卧室、客厅、洗手间都可以和家人同步分享。通过达人们的“悦榜”榜单告诉您大家正在看的热门内容。“悦视频”更可以通过你的观看行为爱好、找到你想要的内容主动推送到您的面前。<br/>
					家庭娱乐，一键轻松享受才是最重要的！<br/><br/>
					<img src="/assets/product_3.jpg" alt=""><br/><br/>
				</p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
	$(function(){
		$('#product_links li').live('click', function(){
			$(".mainbody").hide();
			$(this).parent('ul').find('li').removeClass('click');
			$(this).addClass('click');
			$("#product-intro-" + $(this).attr('data-product-id')).show();
			$('html, body').animate({
			   scrollTop: $("#content").offset().top
			}, 1000);
		});

		var hash = window.location.hash.replace('#', '');
		if(hash != null && hash != ''){
			var item = $("#product_links li[name='"+ hash +"']");
			item.trigger('click');
		}
	})
</script>
<% end %>