html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  	margin: 0;
  	padding: 0;
  }
  ul {
  	list-style: none;
  }
  body {
  	background: #fff;
  	line-height: 1.25em;
  	position:relative;
  	color: #333;
  	width: 100%;
  	height: 100%;
  	font-size: 12px;
  	font-family:"微软雅黑", Arial, Helvetica, sans-serif;
    overflow-x: hidden ; 
  }
  a {
  	text-decoration: none;
  	color: #333
  }
  a:hover {
  	color: #0059A3;
  }
  .floleft {
  	float: left;
  }
  .floright {
  	float: right;
  }
  .clear {
  	height: 1px;
  	line-height: 1px;
  	font-size: 1px;
  	clear: both;
  	margin-top: -1px;
  }
  .hide {
  	display: none;
  }
  #header {
  	width: 100%;
  	height: 515px;
  	position: relative;
  	background: #F1F1F1;
  	box-shadow: 0 1px 1px rgba(0,0,0,.15);
  }
  .small_pic {
  	position: absolute;
  	bottom: 20px;
  	right: 15%;
  }
  .small_pic li {
  	display: block;
  	float: left;
  	border: 3px solid white;
  	margin-right: 10px;
  	width: 82px;
  	height: 50px;
  	box-shadow: 0 0px 5px rgba(0,0,0,.3)
  }
  .small_pic li.sel {
  	border-color: #F68C26;
  }
  .small_pic li img {
  	width: 82px;
  	height: 50px;
  }
  .box {
  	width: 1003px;
  	height: 107px;
  	margin: 0 auto;
  }
  .box div {
  	width: 300px;
  	float: left;
  	margin: 40px 0 0;
  }
  .box div.bbs {
  	margin:40px 50px 0;
  }
  .footer {
  	width: 100%;
  	height: 84px;
  	background:url("/assets/footer1.jpg") repeat-x;
  }
  .footer div {
  	width:990px;
  	margin:0 auto;
  	padding:30px 0;
  	font-size: 14px;
  }
  .contact {
  	background:url("/assets/appbtns.png") 0 -296px no-repeat;
  	padding:3px 0 0 28px;
  }
  .follow {
  	background:url("/assets/appbtns.png") 30px -254px no-repeat;
  	padding:3px 30px 0 58px;
  }
  .followtx{
    background:url("/assets/txlogo.png") 0 2px no-repeat;
    padding:3px 30px 3px 22px;
  }
  br {
  	clear: both;
  }
  .cntSeparator {
  	font-size: 54px;
  	margin: 10px 7px;
  	color: #000;
  }
  .desc {
  	margin: 7px 3px;
  }
  .desc div {
  	float: left;
  	font-family: Arial;
  	width: 70px;
  	margin-right: 65px;
  	font-size: 13px;
  	font-weight: bold;
  	color: #000;
  }
  #slides {
  	position:absolute;
  	top:0px;
  	left:50%;
  	z-index:100;
  	width: 1280px;
  	height: 515px;
  	margin:0 0 0 -640px;
  }
  #slides .pagination {
  	z-index:99999;
  	position:absolute;
  	bottom:20px;
  	right:140px;
  	float:left;
  }
  #slides .pagination li {
  	float:left;
  	margin:2px 4px;
  	list-style:none;
  	width: 82px;
  	height: 50px;
  	margin-right: 10px;
  }
  #slides .pagination li img {
  	width: 82px;
  	height: 50px;
  }
  #slides .pagination li a {
  	display:block;
  	width: 82px;
  	height: 50px;
  	float:left;
  	border: 3px solid white;
  	box-shadow: 0 0px 5px rgba(0,0,0,.3)
  }
  #slides .pagination li.current a {
  	border:3px solid #F68C26;
  	margin:0;
  }
  .slides_container {
  	width:1280px;
  	height:515px;
  	overflow:hidden;
  	position:relative;
  }
  .slides_container div img {
  	width:1280px;
  	height:515px;
   margin:
  }
  #counter_container {
  	z-index:99999;
  	position:absolute;
  	top:20px;
  	right:25px;
  }
  #counter{
    font-size: 18px;
    background: url("/assets/timebg.png") no-repeat left 6px;
    padding-left:0px;
  }