---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <ul>
  	<% Article.all.each do |article|%>
  	<li><%= link_to article.title, "/news/#{article.slug}.html" %></li>
  	<% end %>
  </ul>
</div><!-- .welcome -->