<!DOCTYPE html>
<html>
<head>
  <title>上海志精网络科技有限公司</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mainmenu">
	<a href=""><img src="/assets/logo.gif" alt="" class="floleft"></a>
	<div class="language">
		<a href="" class="active">中文</a>  |  <a href="">English</a>
	</div>
	<ul>
		<li><a href="index_1.html">首 页</a></li>
		<li><a href="about.html" class="click">关于我们</a></li>
		<li><a href="news_1.html">最新动态</a></li>
		<li><a href="products.html">产品</a></li>
		<li><a href="cooperation.html">商业合作</a></li>
		<li><a href="join.html">加入我们</a></li>
		<li><a href="contact.html">联系方式</a></li>
	</ul>
</div>
<%= yield %>
<div id="footer">
	 ©2012   上海志精网络科技有限公司版权所有
</div>
</body>
</html>