<!DOCTYPE html>
<html>
<head>
  <title>上海志精网络科技有限公司</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<div id="footer">
	 ©2012   上海志精网络科技有限公司版权所有
</div>
</body>
</html>